<template>
  <h4>ClickEvent</h4>
  <div class="container">
  <p>
    To handle the click event, we use the directive click. To add binding of a
    value, we import the ref element from vue and initialize the variable with
    it. i.e <code>let n = ref(1);</code>
  </p>
  <div class="result">
    Result <span>{{ n }}</span>
  </div>
  <button @click="onInc(1)">INC</button>
  <button @click="onDec(1)">DEC</button>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
export default {
  name: "ClickEvent",
  setup() {
    let n = ref(1);
    const onInc = (i) => (n.value += i);
    const onDec = (i) => (n.value -= i);
    return {
      n,
      onInc,
      onDec,
    };
  },
};
</script>

<style scoped>
.result span {
  font-weight: 700;
}
</style>
