<template>
  <h4>Conditionals</h4>
  <p>v-if, v-else, vi-else-if</p>
  <ul>
    <template v-for="(name, i) in arr" :key="i">
      <li v-if="i < 2">O:) {{ name }}</li>
      <li v-else-if="i < 4">:) {{ name }}</li>
      <li v-else>{{i}} {{ name }}</li>
    </template>
  </ul>
</template>

<script>
export default {
  name: "Conditional",
  setup() {
    const arr = ["Pedro", "Lino", "Cleto", "Clemente", "Sixto"];
    return {
      arr,
    };
  },
};
</script>

<style></style>
