<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>This is a first example of a Vue app</p>
    <article>
      <span>The way to add a new component it's:</span>
      <ol>
        <li>create the file .vue in the components dir,</li>
        <li>
          Add the basic template to the component: template,script and style.
        </li>
        <li>
          import the component:
          <code>import [<i>ComponentName</i>] from "./path"</code>, and
          <code>export default {...components: {<i>ComponentName</i>}}</code>
        </li>
      </ol>
    </article>
     <Vars />
    <Loops /> 
    <conditional/>
    <click-event/>
    <props :p1="numVar" p2="passing a string" :f1="f" />
  </div>
</template>

<script>
import Vars from "./Vars.vue";
import Loops from "./Loops.vue";
import Conditional from './Conditional.vue';
import ClickEvent from './ClickEvent.vue';
import Props from './Props.vue';

export default {
  name: "HelloWorld",
  components: {
    Vars,
    Loops,
    Conditional,
    ClickEvent,
    Props
  },
  props: { msg: String },
  setup() {
    const numVar = 2;
    const f = (n1, s1) => s1.repeat(n1);
    return {numVar, f};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
