<template>
  <section>
    <h4>Loops</h4>
    <p>
      Use v-for to create loop in the template. You can define or not an index.
      If you don't need, you can use the same element (name, in the example) as
      the key as long as this is unique
    </p>
    <ul>
      <li v-for="(name, i) in arr" :key="i">{{ name }}</li>
    </ul>
  </section>
</template>

<script>
export default {
  name: "Loops",
  setup() {
    const arr = ["Lino", "Cleto", "Clemente", "Sixto"];
    return {
      arr,
    };
  },
};
</script>

<style></style>
