<template>
<h4>Props</h4>
  <div class="container">
    <p>
      To pass a value from the parent component to this one, we use props. In
      this component we received a p1 numeric property with default value, and a
      p2 string property. To send a variable in the parent component, it's
      necessary to use as a directive with the name of the var i.e
      <code>
        &lg;component :p1="numVar"/> where p1 is the name of the prop in the son
        component and numVar is the name of the variable in the parent
      </code>
      To pass a funtion, is similar to pass a variable.
    </p>
    <div>Property 1: <b>{{p1}}</b> Property 2: <b>{{p2}}</b></div>
    <div>Result of function pass as prop: <b>{{f1(p1, p2)}}</b></div>
    <b>I don't have clear how to use the emit custom event</b>
  </div>
</template>

<script>
export default {
  name: "Props",
  props: {
    p1: {
      type: Number,
      default: 5,
    },
    p2: {
      type: String,
    },
    f1: Function
  },
  setup(props) {
      console.log(props.p1);
      console.log(props.p2);
      console.log(props.f1);
    return {};
  },
};
</script>

<style></style>
