<template>
  <section>
    <h4>Class {{v1}}</h4>
    <p>
      In Vue2, the option api was used. This was to specify in the export, the
      computed, props,... every option. In Vue3, the composition api is used,
      which is simpler
    </p>
    <p>
      Vue2: define a variable was done in the data section. Vue3: props section,
      or in the setup() method and return it
    </p>
  </section>
</template>

<script>
export default {
  name: "Vars",
  setup() {
    const v1 = "Variables";
    return {
      v1,
    };
  },
};
</script>

<style></style>
